{{ partial "header.html" . }}
	<main>
		<article>
      <header class="post-header wrapper">
        <h1 class="post-title">{{ .Title }}</h1>
      </header>
      <div class="post-content wrapper">
				{{ .Content }}
			</div>
      <footer class="wrapper">
        <div class="post-footer">
          Published on 
          <time class="post-time" datetime="{{ .Date.Format "2006-01-02"}}">{{ .Date.Format "Monday, 2 January 2006" }}</time>
        </div>
      </footer>
		</article>
	</main>
{{ partial "footer.html" . }}
