	<article>
    <header class="post-header wrapper">
      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    </header>
		<div class="post-content wrapper">
      <p>
        {{ .Summary }}
        {{ if .Truncated }}
          <a href="{{ .Permalink }}">Read more...</a>
        {{ end }}
      </p>
		</div>
    <footer class="wrapper">
      <div class="post-footer">
        Published on 
        <time class="post-time" datetime="{{ .Date.Format "2006-01-02"}}">{{ .Date.Format "Monday, 2 January 2006" }}</time>
      </div>
    </footer>
	</article>
